.greetingForm {
  margin-left: 70px;
}

.inputAndButtonContainer {
  display: flex;
  margin-top: 9px;
}

.error {
  color: red;
}

.input {
  height: 36px;
  width: 372px;
  border-radius: 5px;
  padding-left: 12px;
  opacity: 0.5;
}

.input:focus {
}

.errorInput {
  border: red 1px solid;
}

.button {
  margin-left: 12px;
  width: 78px;
  height: 36px;
  border-radius: 5px;
  background: #0066cc;
  color: #fff;
  text-transform: capitalize;
}

.button:focus {
  opacity: 1;
}

.button:active {
  opacity: 1;
}

.button:disabled {
  opacity: 0.5;
}

.text {
  opacity: 0.5;
}

.greeting {
  margin-top: 10px;
}
